<div class="row justify-content-center">
    <div class="col-6">
        <div class="card">
            <div class="card-header text-center">
                ورود
            </div>
            <div class="card-body">
                <form action="/auth/login" method="POST">
                    
                   {{#if message}}
                        {{#if isUserLogin}}
                            <p class="alert alert-danger">
                            {{message}}
                            </p>
                        {{else}}
                            <p class="alert alert-success">
                            {{message}}
                            </p>
                        {{/if}}
                    {{/if}}
                       
                    
                   
                    
                    <div class="form-group">
                        <label for="email">ایمیل</label>
                        <input type="email" class="form-control" name="email" id="email" placeholder=""
                            autocomplete="off">

                    </div>
                    <div class="form-group">
                        <label for="password">کلمه عبور</label>
                        <input type="password" class="form-control" name="password" id="password" autocomplete="off"
                            placeholder="">
                    </div>
                    <button class="btn btn-primary btn-block" type="submit">ورود</button>
                </form>

            </div>
        </div>
    </div>
</div>