<div class="row justify-content-center">
    <div class="col-6">
        <div class="card">
            <div class="card-header text-center">
                ثبت نام
            </div>
            <div class="card-body">
                <form action="/auth/register" method="POST">
                    <div class="form-group">
                        <label for="first_name">نام</label>
                        <input type="text" class="form-control" name="first_name" id="first_name" autocomplete="off"
                            placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="last_name">نام خانوادگی </label>
                        <input type="text" class="form-control" name="last_name" id="last_name" autocomplete="off"
                            placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="email">ایمیل</label>
                        <input type="email" class="form-control" name="email" id="email" placeholder=""
                            autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="password">کلمه عبور</label>
                        <input type="password" class="form-control" name="password" id="password" autocomplete="off"
                            placeholder="">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block" >ثبت نام</button>
                </form>
                <div class="text-center mt-5">
                    <p>قبلا ثبت نام کرده اید؟!&nbsp;&nbsp;<a href="/auth/login">وارد شوید</a></p>

                </div>
            </div>
        </div>
    </div>
</div>