<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                سبد خرید
            </div>
            <div class="card-body">
            
 <form action="/basket/discount/{{order.hash}}" method="POST">
                     <div class="text-right" id="dfdf">
                        مبلغ کل :
                        {{ order.total_price }}
                    </div>
                    <div class="text-center" id="takh">
                        کد تخفیف :
                        <input type="text"  id="discountt" name="discountt"/><button class="btn btn-primary">بررسی</button>
                        {{#if messageLose}}<p style="color: red">{{messageLose}}</p>{{/if}}
                    </div>
                    {{#if total}}
                        {{!-- <script>
                            document.querySelector('#dfdf').remove();
                        </script> --}}
                         {{#if messageSuccess}}<p style="color: green"> {{messageSuccess}}</p>{{/if}}
                    <p class="alert alert-success">
                        مبلغ قابل پرداخت :
                        {{total}}
                    </p>
                    {{/if}}
 </form>
                    

                <form action="/payment/start/{{order.hash}}" method="post">
                    <div class="payment_method"><label for="cash">نقدی</label>
                        <input id="cash" type="radio" name="payment_method" value="cash"></div>
                    <div class="payment_method"><label for="online">آنلاین</label>
                        <input id="online" type="radio" name="payment_method" checked value="online"></div>
                    <div class="payment_method"><label for="wallet">کیف پول</label>
                        <input type="radio" id="wallet" name="payment_method" value="wallet"></div>
                    <div class="payment_method"><label for="gift">کارت هدیه</label>
                        <input type="radio" id="gift" name="payment_method" value="gift"></div>


                    <button class="btn btn-primary" name="startPayment">پرداخت</button>
                </form>



            </div>
        </div>
    </div>
</div>